<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Surfing</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1> 
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Data</a></p>
    </div>
      
    <h4>{{mars.news_title}}</h4>
    <p>{{mars.news_paragraphs}}</p>

    <div class="row" id="mars-facts">
        <div class="col-lg-6">
          <h4>Mars Facts</h4>
          {{mars.mars_table | safe}}
        </div>
    </div>

    <img src= {{mars.featured_image_url}} width: 50% />

    <!-- surf data -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Mars Weather</h3>
        <p>{{ mars.mars_weather }}</p>
      </div>
    </div>
  </div>

  {% for hemisphere in mars.hemisphere_image_urls %}
    <div class="col-md-6">
        <div class="thumbnail">
  
        <!-- if images is False/None/non-existent, then default to error message -->
        <img src="{{  hemisphere.img_url}}"
            alt="...">
        <div class="caption">
            <h3>{{hemisphere.title}}</h3>
        </div>
        </div>
    </div>
  {% endfor %}

</body>
</html>

